* {
  margin: 0;
  padding: 0;
}

.list-box {
  width: 960px;
  padding: 50px 0;
  margin: 0 auto;
}

.list {
  display: inline-block;
  list-style: none;
}

.list-item {
  display: inline-block;
  width: 960px;
  padding: 20px 0 20px 20px;
  color: gray;
}

.list-item:nth-child(odd) {
  background-color: #dcdcdc;
}

.colorful-box {
  padding-bottom: 50px;
}

.top-box, .middle-box, .tail-box {
  padding-bottom: 40px;
  text-align: center;
}

.box1, .box5 {
  display: inline-block;
  width: 288px;
  height: 200px;
  margin-right: 48px;
  background-color: orange;
}

.box2, .box4, .box7, .box8 {
  display: inline-block;
  width: 288px;
  height: 200px;
  margin-right: 48px;
  background-color: yellow;
}

.box3, .box6 {
  display: inline-block;
  width: 288px;
  height: 200px;
  background-color: yellow;
}

.box9 {
  display: inline-block;
  width: 288px;
  height: 200px;
  background-color: orange;
}